.gradientText {
  max-width: 1600px;
  margin-top: 113px;
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 500;
  font-size: 128px;
  line-height: 140px;
  background: linear-gradient(
    106.2deg,
    #963488 -12.33%,
    #fc6f32 50.28%,
    #ff4a59 114.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.initialSectionText {
  margin-top: 60px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.initialSectionButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 346px;
  margin-top: 36px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .gradientText {
    font-size: 40px;
  }
}
