.button {
  position: relative;
  padding: 12px 24px;
  border: none;
  border-radius: 91px;
  background: #242424;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.6s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    106.2deg,
    #963488 -12.33%,
    #fc6f32 50.28%,
    #ff4a59 114.17%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.button:hover {
  background: linear-gradient(
    106.2deg,
    #963488 -12.33%,
    #fc6f32 50.28%,
    #ff4a59 114.17%
  );
}

.sm {
  height: 54px;
  font-size: 18px;
}

.md {
  height: 72px;
  font-size: 20px;
}

.lg {
  height: 77px;
  font-size: 24px;
}
