.runningLineSection {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}

.runningLineSection h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 60px;
  font-family: "Clash Grotesk", sans-serif;
}

.logosContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 160px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100vw;
  position: relative;
  will-change: transform;
}

.logosContainer img {
  width: 160px;
  height: auto;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.logosContainer .roundIcons {
  width: 90px;
  height: auto;
}

.logosContainer img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
  .runningLineSection {
    min-height: 45vh;
  }

  .runningLineSection h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .logosContainer {
    gap: 50px;
    flex-wrap: wrap;
  }

  .logosContainer img {
    width: 110px;
  }

  .logosContainer .roundIcons {
    width: 60px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .runningLineSection {
    min-height: 45vh;
    min-height: auto;
    padding: 60px 0;
  }

  .runningLineSection h2 {
    font-size: 26px;
    margin-bottom: 45px;
  }

  .logosContainer {
    flex-wrap: wrap;
    gap: 40px;
  }

  .logosContainer img {
    width: 80px;
  }

  .logosContainer .roundIcons {
    width: 40px;
    height: auto;
  }
}
