.tableSectionTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableSectionText {
  margin: 35px 0;
}

.tableSectionButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}
