.buttonLink {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.buttonLink:hover {
  background: linear-gradient(
    106.2deg,
    #963488 -12.33%,
    #fc6f32 50.28%,
    #ff4a59 114.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
