.buttonLink {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.buttonLink:hover {
  background: linear-gradient(
    106.2deg,
    #963488 -12.33%,
    #fc6f32 50.28%,
    #ff4a59 114.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
