.headerContainer {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.header {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .headerContainer {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 300px;
  }
}
