* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #000000;
  color: #ffffff;
}

h1 {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 500;
  font-size: 128px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin: 0;
}

h2 {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin: 0;
}

.app {
  position: relative;
  z-index: 1;
  width: 100%;
}

main {
  padding: 0 74px;
  height: 100%;
}

.appJoinText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30rem;
}

.nasaBackground {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0;
  }

  .appJoinText {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0 15px;
    text-align: center;
  }

  .gradientText {
    font-size: 40px;
  }

  h2 {
    font-size: 45px;
  }

  .appJoinText {
    margin-bottom: 6rem;
  }

  .nasaBackground {
    bottom: 0;
    left: -15px;
    width: 100vw;
    height: auto;
  }
}
